name: privacyidea_authenticator
description: An OTP Authenticator App for privacyIDEA Authentication Server.
homepage: https://netknights.it
repository: https://github.com/privacyidea/pi-authenticator
publish_to: none

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 4.0.0+0400000 # TODO Set the right version number
# version: major.minor.build          + 2x major|2x minor|3x build
# version: version number             + build number (optional)
# android: build-name                 + versionCode
# iOS    : CFBundleShortVersionString + CFBundleVersion

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.4

  intl: ^0.17.0
  hex: ^0.2.0
  base32: ^2.1.1
  otp: ^3.0.1
  qr_mobile_vision: ^3.0.1
  flutter_secure_storage: ^5.0.2
  json_annotation: ^4.3.0
  flutter_slidable: ^1.1.0
  package_info: ^2.0.2
  asn1lib: ^1.0.3
  flutter_markdown: ^0.6.8
  url_launcher: ^6.0.12
  catcher: ^0.6.9
  uuid: ^3.0.5
  http: ^0.13.4
  pointycastle: ^3.4.0
  flutter_local_notifications: ^9.1.2
  mutex: ^3.0.0
  flutterlifecyclehooks: ^2.0.0-nullsafety.0
  streaming_shared_preferences: ^2.0.0
  flutter_svg: ^0.23.0+1
  easy_dynamic_theme: ^2.2.0
  firebase_messaging: ^11.1.0
  firebase_core: ^1.10.0
  pi_authenticator_legacy:
    path: local_plugins/pi-authenticator-legacy
  collection: ^1.15.0
  uni_links: ^0.5.1
  local_auth: ^1.1.8
  percent_indicator: ^3.4.0
  lottie: ^1.2.2
  flare_flutter: any

dev_dependencies:
  flutter_driver:
    sdk: flutter
  test: any


  # dependencies to serialize objects to json
  build_runner: any
  json_serializable: ^6.0.1


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # Automatically create files used for localization
  generate: true

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - res/logo/app_logo_light.svg
    - CHANGELOG.md
    - res/guide/
    - res/gif/help_delete_rename.gif
    - res/gif/help_manual_poll.gif
    - res/lottie/onboarding_secure_animation.json
    - res/rive/success_check.flr
    - res/lottie/security-cloud.json
    - res/lottie/941-submit-smile.json
    - res/lottie/lock_shield.json
    - res/logo/github.png
    - res/lottie/github-logo.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
