name: privacyidea_authenticator
description: An OTP Authenticator App for privacyIDEA Authentication Server.
homepage: https://netknights.it
repository: https://github.com/privacyidea/pi-authenticator

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 3.2.2+0302002 # TODO How to set the right version number?
# version: major.minor.build          + 2x major|2x minor|3x build <- 2 per number
# version: version number             + build number (optional)
# android: build-name                 + versionCode
# iOS    : CFBundleShortVersionString + CFBundleVersion

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  # dependency for decoding (and encoding) strings to hex
  hex: ^0.1.2 # https://pub.dev/packages/hex#-installing-tab-
  # dependency for decoding (and encoding) strings to base32
  base32: ^1.1.1 # https://pub.dev/packages/base32
  # dependency for calculating otp values
  otp: ^2.0.3 # https://pub.dev/packages/otp
  # dependency for scanning barcodes
  barcode_scan: ^2.0.1
  # dependency to generate IDs for tokens
  uuid: ^2.2.0
  # dependency to save to secure storage under android and ios
  flutter_secure_storage: ^3.3.1+1
  # dependency to serialize objects to json
  json_annotation: ^3.0.1 # run "flutter pub run build_runner build" in terminal to build tokens.g.dart
  # dependency for slide options in list
  flutter_slidable: ^0.5.4
  # dependency for automatically showing the version number
  package_info: ^0.4.0+13 # https://pub.dev/packages/package_info
  # dependency for cryptographic algorithms
  pointycastle: ^1.0.2
  # dependency for changing the theme of the app
  dynamic_theme: ^1.0.1 # https://pub.dev/packages/dynamic_theme
  # dependency for push tokens https://github.com/privacyidea/privacyidea/wiki/concept%3A-PushToken
  # firebase_messaging: ^6.0.9
  firebase_messaging:
    path: ./local_plugins/firebase_messaging-6.0.16
  # dependency for firebase configuration
  firebase_core: ^0.4.0
  # dependency for http requests https://pub.dev/packages/http#-readme-tab-
  http: ^0.12.0+4
  # for parsing ASN1 encoded stuff
  asn1lib: ^0.6.4
  # for displaying incoming push requests as notifications
  flutter_local_notifications: ^1.4.1 # https://pub.dev/packages/flutter_local_notifications#-installing-tab-
  # legacy support for loading old tokens:
  pi_authenticator_legacy:
    path: ./local_plugins/pi-authenticator-legacy
  # manage settings
  streaming_shared_preferences: ^1.0.1
  mutex: ^1.1.0

  flutter_cupertino_localizations: ^1.0.1
  intl: ^0.16.0
  intl_translation: any #^0.17.10

dev_dependencies:
  flutter_driver:
    sdk: flutter
  test: any

  # dependencies to serialize objects to json
  build_runner: ^1.10.1
  json_serializable: ^3.4.1


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  assets:
    - res/logo/app_logo_light.png
    - res/logo/app_logo_dark.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
