<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzFDFNM4OH_ezUFkiNdkKQLSH1w902aek</string>
	<key>GCM_SENDER_ID</key>
	<string>950146333531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.geomar.authenticator</string>
	<key>PROJECT_ID</key>
	<string>geomar-3242b</string>
	<key>STORAGE_BUCKET</key>
	<string>geomar-3242b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950146333531:ios:df60c985c8e8a82772b87e</string>
</dict>
</plist>