name: Flutter Test
on:
   push:
      branches:
         - master
   pull_request:
jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 40

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17.0.11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.3'
      - run: 'flutter --version'
      - run: 'flutter doctor -v'
      - run: 'flutter pub get'
      - run: 'flutter gen-l10n'
      - run: 'flutter test'
