name: flutter driver

on: 
   push:
      branches:
         - master
   pull_request:

jobs:
  drive:
    # Creates a build matrix for your jobs. You can define different
    # variations of an environment to run each job in.
    strategy:
      # A set of different configurations of the virtual  
      # environment.
      matrix:
        device:
        - "iPhone 8 (13.3)"
        - "iPhone 11 Pro Max (13.3)"
      # When set to true, GitHub cancels all in-progress jobs if any        
      # matrix job fails.
      fail-fast: false

    runs-on: macOS-latest

    steps:

    - name "List all test files"
      run: "ls -R test_driver"
 
    - name: "List all simulators"
      run: "xcrun instruments -s"

    - name: "Start Simulator"
      run: |
        UDID=$(
          xcrun instruments -s |
          awk \
            -F ' *[][]' \
            -v 'device=${{ matrix.device }}' \
            '$1 == device { print $2 }'
        )
        xcrun simctl boot "${UDID:?No Simulator with this name found}"

    - uses: actions/checkout@v1

    - uses: subosito/flutter-action@v1
      with:
        channel: 'stable'

    - name: "Run Flutter Driver tests"
      run: "flutter drive --target=test_driver/app.dart"
