on:
   push:
      branches:
         - master
   pull_request:
     

jobs:
  build_ios:
    name: Build Flutter (iOS)
    runs-on: macos-latest
    timeout-minutes: 15
    strategy:
      # When set to true, GitHub cancels all in-progress jobs if any
      # matrix job fails.
      fail-fast: false
      matrix:
        api-level: [21,31] # [minSdk, most used, newest (30 is not working :(] 19 would be minSDK but does not support x86_64
        target: [default] # [default, google_apis]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '11.x'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '2.10.1'
    - run: "flutter --version"
    - run: "flutter pub get"
    - run: "flutter build ios --no-codesign"

  build_appbundle:
    name: Build Flutter (Android)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      # When set to true, GitHub cancels all in-progress jobs if any
      # matrix job fails.
      fail-fast: false
      matrix:
        api-level: [ 21,31 ] # [minSdk, most used, newest (30 is not working :(] 19 would be minSDK but does not support x86_64
        target: [ default ] # [default, google_apis]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11.x'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '2.10.1'
      - run: "flutter --version"
      - run: "flutter pub get"
      - run: 'flutter clean'
      - run: "flutter build appbundle"

