name: Flutter Build
on:
   push:
      branches:
         - master
   pull_request:


jobs:
  build_ios:
    name: (iOS)
    runs-on: macos-latest
    timeout-minutes: 15
    strategy:
      # When set to true, GitHub cancels all in-progress jobs if any
      # matrix job fails.
      fail-fast: false
      matrix:
        api-level: [21,31,34] # [minSdk, most used, newest (30 is not working :(] 19 would be minSDK but does not support x86_64
        target: [default] # [default, google_apis]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: '17.0.11'
    - uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        flutter-version: '3.24.3'
    - run: 'flutter --version'
    - run: 'flutter doctor -v'
    - run: 'flutter pub get'
    - run: 'flutter gen-l10n'
    - run: 'flutter build ios -t "lib/mains/main_netknights.dart" --debug --flavor netknights --no-codesign'

  build_appbundle:
    name: (Android)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      # When set to true, GitHub cancels all in-progress jobs if any
      # matrix job fails.
      fail-fast: false
      matrix:
        api-level: [ 21, 30, 34 ] # [minSdk, most used, newest]
        target: [ default ] # [default, google_apis]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17.0.11'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.24.3'
      - run: 'flutter clean'
      - run: 'flutter --version'
      - run: 'flutter doctor -v'
      - run: 'flutter pub get'
      - run: 'flutter gen-l10n'
      - run: 'flutter build apk -t "lib/mains/main_netknights.dart" --debug --flavor netknights'
