name: Flutter integration test
on: 
    push:
       branches:
          - master
    pull_request:
jobs:
    drive_android:
      runs-on: macos-latest
      strategy:
        matrix:
          api-level: [29]
      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v2
          with:
            distribution: 'zulu'
            java-version: '17'

        - uses: subosito/flutter-action@v2
          with:
            flutter-version: '3.19.0'
            channel: 'stable'
  
        # Run integration test
        - name: Run Flutter Driver tests
          uses: reactivecircus/android-emulator-runner@v2
          with:
            api-level: ${{ matrix.api-level }}
            arch: x86_64
            profile: Nexus 6
            script: flutter test integration_test --flavor netknights
  
